.help {
  &__title {
    max-width: 670px;
    margin: 0 auto 48px;
    @media (max-width: 1300px) {
      max-width: 630px;
    }
    @include r($desktop) {
      max-width: 590px;
    }
    @include r($lg) {
      max-width: 540px;
    }
    @media (max-width: 860px) {
      max-width: 500px;
    }
    @include r($tablet) {
      max-width: 450px;
    }
    @include r($sm) {
      max-width: 400px;
      margin-bottom: 40px;
    }
    @media (max-width: 510px) {
      max-width: 360px;
    }
    @include r($phone) {
      margin-bottom: 30px;
      max-width: 320px;
    }
  }

  &__list {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1040px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 720px;
      margin: 0 auto;
    }
    @include r($phone) {
      grid-template-columns: repeat(1, 1fr);
      max-width: 340px;
    }
  }

  &__item {
    @include flex-center;
    flex-direction: column;
    text-align: center;
    padding: 38px 40px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: linear-gradient(178deg, #101010 5.87%, #151617 98.03%);
    @media (max-width: 1300px) {
      padding: 34px 32px;
    }
    @media (max-width: 1100px) {
      padding: 32px 28px;
    }
    @media (max-width: 590px) {
      padding: 30px 24px;
    }

    img {
      margin-bottom: 36px;
    }
  }

  &__subtitle {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.26;
    color: $white;
    letter-spacing: -0.56px;
    @include r($desktop) {
      font-size: 26px;
    }
    @include r($tablet) {
      font-size: 24px;
    }
    @media (max-width: 530px) {
      font-size: 22px;
    }
  }

  &__text {
    line-height: 1.45;
    color: rgba($white, .8);
    @include r($phone) {
      max-width: 250px;
      font-size: 16px;
    }

    &.short {
      max-width: 220px;
      @include r($phone) {
        max-width: 220px;
      }
    }
  }
}