.header {
  margin: 23px 0 130px;
  @media (max-width: 1300px) {
    margin-bottom: 110px;
  }
  @media (max-width: 1150px) {
    margin-bottom: 80px;
  }
  @include r($lg) {
    margin: 24px 0 70px;
  }
  @include r($tablet) {
    margin: 20px 0 44px;
  }
  @include r($sm) {
    margin-top: 15px;
  }

  &__inner {
    @include flex-align-center(12);
    justify-content: space-between;
    @media (max-width: 520px) {
      flex-direction: column;
    }
  }

  &__logo, &__right {
    max-width: 350px;
    width: 100%;
    @media (max-width: 1260px) {
      max-width: 200px;
    }
    @media (max-width: 940px) {
      max-width: max-content;
    }
  }

  &__logo {
    align-items: flex-start;

    img {
      @include objectCoverBg;
    }
  }

  &__right {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: flex-end;
  }

  &__nav {
    @media (max-width: 940px) {
      margin-left: auto;
    }
    @media (max-width: 700px) {
      display: none;
    }

    &.mobile {
      display: none;
      @media (max-width: 700px) {
        display: block;
      }
      @include r($phone) {
        margin-left: 0;
      }
    }
  }

  &__list {
    @include flex-align-center(30);
    padding: 6px 24px;
    border-radius: 157px;
    border: 1px solid rgba(255, 255, 255, 0.02);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(7.75px);
    @include r($lg) {
      gap: 26px;
    }
    @include r($sm) {
      gap: 23px;
    }
    @media (max-width: 530px) {
      padding: 7px 19px;
    }
  }

  &__link {
    @include flex-align-center(8);
    font-size: 18px;
    padding: 3px 3px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: color .4s, border .4s;
    @media (max-width: 1300px) {
      max-width: max-content;
    }
    @media (max-width: 860px) {
      font-size: 17px;
    }
    @include r($sm) {
      font-size: 16px;
    }

    &:hover {
      color: rgba($white, .5);
    }

    &:focus {
      border-color: $white;
      color: $white;
    }
  }

  &__text {
    font-weight: 600;
    @media (max-width: 1260px) {
      display: none;
    }
  }

  &__btn {
    padding: 10px 25px;
    background-color: $white;
    border-radius: 100px;
    color: #332828;
    font-size: 16px;
    border: 1px solid transparent;
    font-weight: 600;
    transition: background-color .4s, border .4s, color .4s;
    @media (max-width: 940px) {
      display: none;
    }

    &:hover {
      background-color: $accent;
      color: $white;
    }

    &:focus {
      background-color: transparent;
      color: $white;
      border-color: rgba($white, .5);
    }
  }

  &__mobile {
    @include flex-column(30);
    padding: 120px 15px 30px;
    display: none;
    pointer-events: none;
    user-select: none;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0A0F1A;
    transform: translateX(100%);
    height: 100vh;
    transition: transform .7s ease-in-out;
    @media (max-width: 940px) {
      display: flex;
      align-items: flex-start;
      pointer-events: auto;
      user-select: auto;
    }

    &.active {
      transform: translateX(0);
    }
  }
}