<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <img class="footer__logo" src="images/logo.svg" width="86" height="37" alt="logo">
        <nav class="footer__nav mobile">
          <ul class="footer__list">
            <li>
              <a class="footer__link desktop" href="#main">Main</a>
            </li>
            <li>
              <a class="footer__link desktop" href="#what_we_offer">What we offer?</a>
            </li>
            <li>
              <a class="footer__link desktop" href="#reviews">Reviews</a>
            </li>
            <li>
              <a class="footer__link desktop" href="#contacts">Our contact</a>
            </li>
          </ul>
        </nav>
        <div class="footer__contacts">
          <div class="footer__contacts-item">
            <p class="footer__subtitle">Telephone number</p>
            <a class="footer__contacts-link" href="tel:+33145678910">
              +33 1 45 67 89 10
            </a>
          </div>
          <div class="footer__contacts-item">
            <p class="footer__subtitle">Email address</p>
            <a class="footer__contacts-link" href="mailto:gucciflipper@gmail.com">
              gucciflipper@gmail.com
            </a>
          </div>
        </div>
      </div>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li>
            <a class="footer__link desktop" href="#main">Main</a>
          </li>
          <li>
            <a class="footer__link desktop" href="#what_we_offer">What we offer?</a>
          </li>
          <li>
            <a class="footer__link desktop" href="#reviews">Reviews</a>
          </li>
          <li>
            <a class="footer__link desktop" href="#contacts">Our contact</a>
          </li>
        </ul>
      </nav>
      <div class="footer__additional-links">
        <a class="footer__additional-link" target="_blank" href="terms.html">
          Terms & Condition
        </a>
        <a class="footer__additional-link" target="_blank" href="privacy.html">
          Privacy policy
        </a>
      </div>
    </div>
  </div>
</footer>