<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <img class="header__logo" src="images/logo.png" width="96" height="96" alt="logo">
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link desktop" href="#home">
              Home
            </a>
          </li>
          <li>
            <a class="header__link desktop" href="#features">
              Features
            </a>
          </li>
          <li>
            <a class="header__link desktop" href="#about">
              About Us
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>