<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <img src="images/logo.svg" width="86" height="37" alt="logo">
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li>
            <a class="header__link" href="index.html#home">
              Main
            </a>
          </li>
          <li>
            <a class="header__link" href="index.html#help">
              What we offer?
            </a>
          </li>
          <li>
            <a class="header__link" href="index.html#cases">
              Reviews
            </a>
          </li>
          <li>
            <a class="header__link" href="index.html#contacts">
              Our contact
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__right">
        <p class="header__text">Start trading with us</p>
        <a class="header__btn" href="index.html#contacts">Get consultant</a>
        <button class="menu-btn menu-btn--header" type="button">
          <span class="menu-btn__line"></span>
          <span class="sr-only">Interact with menu</span>
        </button>
      </div>
    </div>
  </div>
</header>
<div class="header__mobile">
  <nav class="header__nav mobile">
    <ul class="header__list">
      <li>
        <a class="header__link" href="index.html#home" tabindex="-1">Main</a>
      </li>
      <li>
        <a class="header__link" href="index.html#help" tabindex="-1">What we offer?</a>
      </li>
      <li>
        <a class="header__link" href="index.html#reviews" tabindex="-1">Reviews</a>
      </li>
      <li>
        <a class="header__link" href="index.html#contacts" tabindex="-1">Our contact</a>
      </li>
    </ul>
  </nav>
</div>